## Python requirements for using the driftage library. 
##
##   python -m pip install --requirement=requirements.txt
##
spade==3.1.6
pandas>=1.0.0,<2.0
sqlalchemy>=1.3,<2.0
orjson==3.2.0
aiobreaker==1.0.0
aiomisc==10.0.0
cachetools==4.1.0